@import "style.css";

h1 {
    color: black;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 25px;
}
ul {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
.mike {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
}