html {
    background-color: pink;
}

img {
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    position: absolute;
    top: 50%;
}

button {
    left: 50%;
    margin-top: 275px;
    margin-left: -30px;
    position: absolute;
    top: 50%;
}